<ul>
    <ul>Name:</ul>
    <ul> Price:</ul>
    <ul>Bandwidth Download:</ul>
    <ul> Bandwidth Upload: </ul>
    <ul> Space: </ul>
    <ul> Share Quota: </ul>
<br/>
   {% for plan in plans %}
    
        <ul>
            {{plan.name}} 
            {{plan.price}}  
            {{plan.bandwidthDownload}} 
            {{plan.bandwidthUpload}} 
            {{plan.space}}
            {{plan.shareQuota}}
            <a href="{{ path('planupdt', {"id": plan.id}) }}">Modifier</a>
        </ul>         
 
    {% endfor %}
  
</ul>