<ul>
    {% for plan in plans %}
        <li>
            {{plan.name}} 
            {{plan.price}}  
            {{plan.bandwidthDownload}} 
            {{plan.bandwidthUpload}} 
            {{plan.space}}
            {{plan.shareQuota}}
            <a href="{{ path('planupdt', {"id": plan.id}) }}">Modifier</a>
            <a href="{{ path('plandelete', {"id": plan.id}) }}">Supprimer</a>
        </li>     
    {% endfor %}
</ul>
